<!-- <!DOCTYPE html> -->

<body>
    <main>
        <h2>Welcome to CSE Motorss</h2>
        <div class="hero-container">
            <img src="" alt="A DMC Delorean car" id="hero-image">
            <div class="cta">
                <h3>DMC Delorean</h3>
                <p class="cta-para">3 Cup holders</p>
                <p class="cta-para">Superman doors</p>
                <p class="cta-para">Fuzzy dice!</p>
            </div>
        </div> 
        <div class="main-grid">
            <div class="section-container">
                <section class="main-section" id="upgrade">
                    <h4>Delorean Upgrade</h4>
                    <figure>
                        <img src="/images/upgrades/flux-cap.png" alt="A Flux Capacitor">
                        <figcaption><a href="#">Flux capacitor</a></figcaption>
                    </figure>
                    <figure>
                        <img src="/images/upgrades/flame.jpg" alt="A Flame Decais">
                        <figcaption><a href="#">Flame Decais</a></figcaption>
                    </figure>
                    <figure>
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="A Bumper sticker" >
                        <figcaption><a href="#">Bumper Stickerr</a></figcaption>
                    </figure>
                    <figure>
                        <img src="/images/upgrades/hub-cap.jpg" alt="A Hub Caps">
                        <figcaption><a href="#">Hub Caps</a></figcaption>
                    </figure> 
                </section>

            </div>

            <div class="section-container">
                <section class="main-section" id="reviews">
                    <h4>DMC Delorean Review</h4>
                    <ul>
                        <li>"So fast it's almost like travellin g in time." (4/5)</li>
                        <li>"Coolest ride on the road." (4/5)</li>
                        <li>"I'm feeling McFly!" (5/5)</li>
                        <li>"The most futuristic ride of our day." (4.5/5)</li>
                        <li>"80's livin and I love it" (5/5)</li>
                    </ul>
                </section>
            </div>
        </div>
    </main>
</body>
