/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header {
  background-color: aqua;
}

body {
  background-image: url(/image/site/check_small.png);
}
 