/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/***************** STYLING FOR THE INDEX PAGE **************/
body {
  background-image: url(/images/site/small_check.jpg);
}

#wrapper {
  background-color: whitesmoke;
}

/************** Styling the header ******************/
#top-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.siteName a, #tools a {
  text-decoration: none;
  color: #212121;
}

.siteName a {
  font-size: 1.2rem;
}

#tools a{
  font-size: 0.8rem;
}






